
migrations/

start_app.py
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# IDE & Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db


# PostgreSQL dump files
*.sql
*.dump
