<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Utility List</title>
    <link rel="stylesheet" href="{% static "css/utility.css" %}">

</head>
<body>

    <h2>لیست نوع مصرف</h2>

    {% if object_list %}
    <table>
        <thead>
            <tr>
                <th>Delete</th>
                <th>#</th>
                <th>نوع مصرف</th>
            </tr>
        </thead>
        <tbody>
            {% for usage in object_list %}
            <tr>
                <td>
                    <form method="post" action="{% url 'usage-type-delete' usage.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('حذف این گروه؟');">×</button>
                    </form>
                </td>
                <td>{{ forloop.counter }}</td>
                <td>
                    {{ usage.usage_type }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>داده ای یافت نشد.</p>
    {% endif %}

    <hr>

    <h2>تعریف نوع مصرف</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">تعریف</button>
    </form>
    
    <a href="{% url 'main' %}" class="button">صفحه قبل</a>

</body>
</html>
